<!-- List citations by keyword -->
{{- $csv_filepath := path.Join "data" (print .Page.Params.bib ".csv") }}
{{- if fileExists $csv_filepath -}}
{{- $bib := getCSV "," $csv_filepath -}}
{{- $bib = first 10 (after 1 $bib) -}}
{{- $num := len $bib -}}
{{- $idx := seq (sub $num 1) -1 0 -}}
<!-- {{ $date := slice }}
{{ $count := 0 }} -->
<div class ="box">
  <ul style="margin-left: 20px !important; margin-bottom: 10px !important; list-style: disc;">
  <!-- {{ range $r, $bib -}}
    {{ $date = $date | append (dict (print $count) (index $r 1)) }}
  {{- end -}} -->
  {{ range $i, $idx -}}
  <li class="content" style="text-align: justify !important;">
    <!-- {{ $date }}, -->
    "{{ index (index $bib $i) 0 }},"
    <i> {{ index (index $bib $i) 2 }}. </i>
    <a href="{{ index (index $bib $i) 7 }}">[Link]</a>
  </li>
  {{- end -}}
  </ul>
</div>
{{- else -}}
<span class="has-background-danger has-text-white">ERROR</span>
{{- end -}}
