<!-- List citations by keyword -->
{{- $csv_filepath := path.Join "csv" (print .Page.Params.accomplishments ".csv") }}
{{- $kwd := .Get 0 }}
{{- if fileExists $csv_filepath -}}
<div class ="box">
  <ul style="margin-left: 20px !important; margin-bottom: 10px !important; list-style: disc;">
  {{ range  $i, $r = getCSV "," $csv_filepath -}}
  {{ if ne $i 0 }}
  {{- if in (lower .keyword) (lower $kwd) -}}
  <li class="content" style="text-align: justify !important;">
    <em>{{ index $r 0 }}</em>,
    {{ index $r 1 }}.
    {{- if index $r 2 }}
      <a href="{{ index $r 2 }}">[Link]</a>
    {{- end }}
  </li>
  {{ end }}
  {{ end -}}
  {{- end -}}
  </ul>
</div>
{{- else -}}
<span class="has-background-danger has-text-white">ERROR</span>
{{- end -}}
