<!-- List citations by keyword -->
{{- $csv_filepath := path.Join "csv" (print .Page.Params.students ".csv") }}
{{- $kwd := .Get 0 }}
{{- if fileExists $csv_filepath -}}
{{- $baseURL := .Site.BaseURL -}}
<div class ="box">
  {{ range $i, $r := getCSV "," $csv_filepath -}}
  {{ if ne $i 0 }}
  <div class="content-container" style="min-height: 175px; margin-bottom: 10px; background-color: #F0F0F0; padding: 10px;">
    <p style="text-align: justify; margin-bottom: 10px;" class="block"><span style="font-weight: bold;"><img style="border: 1px solid ; width: 120px; height: 155px; object-fit: cover; float: left; margin-left:0 !important; margin-right: 20px !important;" alt="" src="{{ $baseURL }}{{ index $r 2 }}" hspace="10">{{index $r 0}}
    </span>{{ index $r 1 }}
    </p>
    {{- if .gg_scholar }}
    <a href="{{ index $r 4 }}">Google Scholar</a>
    {{- end }}
    </div>
    <!-- <hr/ style="margin-bottom: 10px;"> -->
    {{ end }}
  {{ end -}}
</div>
{{- else -}}
<span class="has-background-danger has-text-white">ERROR</span>
{{- end -}}
